{{outlet}}

<h1 class="recipe-heading heading">The Most Awesome Chocolate Chip Cookies</h1>
<h4 class="author-text">by Rasheeeda</h4>

<div class="image-div">
<img src="#">
</div>

<div class="content-wrap">

  <div class="info-bar-wrap">
    <div class="recipe-type-div">
      <h4 class="bar-title-text">
        Recipe Type
      </h4>
      <h2 class="bar-info-text">
        Dessert
      </h2>
    </div><!-- .recipe-type-div

    --><div class="prep-time-div">
      <h4 class="bar-title-text">
        Prep Time
      </h4>
      <h2 class="bar-info-text">
        15<span class="bar-unit-text">min</span>
      </h2>
    </div><!-- .prep-time-div

      --><div class="cook-time-div">
      <h4 class="bar-title-text">
        Cook Time
      </h4>
      <h2 class="bar-info-text">
        20<span class="bar-unit-text">min</span>
      </h2>
    </div><!-- .cook-time-div

      --><div class="cook-temp-div">
      <h4 class="bar-title-text">
        Cook Temp
      </h4>
      <h2 class="bar-info-text">
         350<span class="bar-unit-text">F</span>
      </h2>
    </div><!-- .cook-temp-div -->

    <div class="spacer">
    </div>

  </div><!-- .info-bar-wrap -->
</div><!-- .content-wrap -->

