{{outlet}}

<h1 class="recipe-heading heading">The Most Awesome Chocolate Chip Cookies</h1>
<h4 class="author-text">by Rasheeeda</h4>

<div class="image-div">
<img src="#">
</div>

<div class="content-wrap">

  <div class="info-bar-wrap ">
    <div class="recipe-type-div neat-block3">
      <h4 class="bar-title-text">
        Recipe Type
      </h4>
      <h2 class="bar-info-text">
        Dessert
      </h2>
    </div><!-- .recipe-type-div

    --><div class="prep-time-div neat-block3">
      <h4 class="bar-title-text">
        Prep Time
      </h4>
      <h2 class="bar-info-text">
        15<span class="bar-unit-text">min</span>
      </h2>
    </div><!-- .prep-time-div

      --><div class="cook-time-div neat-block3">
      <h4 class="bar-title-text">
        Cook Time
      </h4>
      <h2 class="bar-info-text">
        20<span class="bar-unit-text">min</span>
      </h2>
    </div><!-- .cook-time-div

      --><div class="cook-temp-div neat-block3">
      <h4 class="bar-title-text">
        Cook Temp
      </h4>
      <h2 class="bar-info-text">
         350<span class="bar-unit-text">F</span>
      </h2>
    </div><!-- .cook-temp-div -->

    <div class="spacer neat-block12">
    </div>

  </div><!-- .info-bar-wrap -->

  <div class="ingredients-wrap">

    <div class="ingredients-header-wrap">
      <h3 class="ingredient-header-text">
        12 cookies
      </h3>
      <button class="adjust-button">Adjust</button>
    </div><!-- .ingredients-header-wrap -->

    <ul class="ingredients-ul">
      <li>
        <div class="ingredient-measurement"><span class="ingredient-number">1/2</span><span class="ingredient-unit">cup</span>
        </div>
        <h3 class="ingredient-name">
        Sugar
        </h3>
      </li>

      <li>
        <div class="ingredient-measurement"><span class="ingredient-number">1</span><span class="ingredient-unit">cup</span>
        </div>
        <h3 class="ingredient-name">
        All purpose flour
        </h3>
      </li>

      <li>
        <div class="ingredient-measurement"><span class="ingredient-number">2</span><span class="ingredient-unit">Tb</span>
        </div>
        <h3 class="ingredient-name">
        Cinnamon
        </h3>
      </li>

      <li>
        <div class="ingredient-measurement"><span class="ingredient-number">1/2</span><span class="ingredient-unit">t</span>
        </div>
        <h3 class="ingredient-name">
        Baking Powder
        </h3>
      </li>
    </ul>

    <ul class="steps-ul">
      <li>
        <h3>Step 1</h3>
          <p class="step-text">Put stuff in a bowl and mix it and then put it in a pan and put it in the oven and go watch tv and then when you are hungry get it out and eat it. Yum.
          </p>

          <ul class="step-ingredients">
            <li>
              <div class="ingredient-measurement-small"><span class="ingredient-number-small">1/2</span><span class="ingredient-unit">t</span>
              </div>
              <h3 class="ingredient-name-small">
              Baking Powder
              </h3>
              </li>

              <li>
              <div class="ingredient-measurement-small"><span class="ingredient-number-small">1/2</span><span class="ingredient-unit">t</span>
              </div>
              <h3 class="ingredient-name-small">
              Baking Powder
              </h3>
              </li>
          </ul>
      </li>


      <li>
        <h3>Step 2</h3>
          <p class="step-text">Put more stuff in a bowl and mix it and then put it in a pan and put it in the oven and go watch tv and then when you are hungry get it out and eat it. Yum.
          </p>
                    <ul class="step-ingredients">
            <li>
              <div class="ingredient-measurement-small"><span class="ingredient-number-small">1/2</span><span class="ingredient-unit">t</span>
              </div>
              <h3 class="ingredient-name-small">
              Baking Powder
              </h3>
              </li>

              <li>
              <div class="ingredient-measurement-small"><span class="ingredient-number-small">1/2</span><span class="ingredient-unit">t</span>
              </div>
              <h3 class="ingredient-name-small">
              Baking Powder
              </h3>
              </li>
          </ul>
      </li>
    </ul>

    <h3>Personal Notes</h3>
      <p class="notes-text">Great recipe if you like to watch tv and eat. blah blah blah to the end of the line so I can see where it is.
      </p>

      <div class="button-wrap">


      <button class="start-button">Start</button>
      <button class="recipe-edit-button">Edit this recipe</button>

    </div><!-- .button-wrap -->



  </div><!-- .ingredients-wrap -->




</div><!-- .content-wrap -->

